html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-size: large;
}

textarea { 
  font-size: 1px; 
}

.quarter {
  height: 100%;
  float: left;
}

.left {
  width: 80%;
}

.right {
  width: 20%;
}

.left-60 {
	width: 80%
}

.right-40 {
	width: 20%
}

.contents {
  height: 100%;
  width: 100%;
}

.terminal {
  height: 95%;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding-top: 0px;
  --size: 1.25;
}

.dropdown-menu {
  min-width: 150px !important;
}

.container {
  height: 100%;
}

.title {
  padding: 10px;
  padding-bottom: 5px;
}

.title#lambdatitle {
  font-family: Arial, sans-serif;
  font-weight: normal;
  background-color: black;
  color: #aaa;
}
.title#turingtitle {
  padding-left: 10px;
  background-color: #404040;
  color: #FFFF;
}

#tape_button, #multi_tape_button {
  margin-top: 25px;
}

#dropdown-button {
  margin-top: 25px;
  
}

#formtitle {
	color: #FFFF;
}

#tape_title {
	color: #FFFF;
	font-size: 25px;
}

.tape-row {
	height: 60px;
}
/**

@media screen and (max-width:768px) {
	.right {
    width: 0%;
  }
  .left {
    width: 100%;
  }
}

**/

